:root{
    --cor-primaria: #fcfbf8;
    --cor-secundaria: #7D8758;
    --cor-terciaria: #1e4625;
    --cor-hover: #ddf585; 

    --fonte-primaria: "Poppins", sans-serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    height: 100vh; 
    box-sizing: border-box;
    background-color: var(--cor-primaria);
    color: var(--cor-secundaria);
    font-family: var(--fonte-primaria);
}

.botao {
    display: inline-block;
    background-color: var(--cor-secundaria);
    color: var(--cor-primaria);
    border: 1px solid var(--cor-secundaria);
    border-radius: 50px;
    text-decoration: none;
    text-align: center;
    font-size: 1rem;
    font-weight: 600;
    padding: 20px 50px;
    align-self: center;
    transition: color 0.3s ease;
    width: fit-content;
}

.botao:hover{
    color:var(--cor-hover);
}