.header{
    background-color: var(--cor-secundaria);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 16px 32px;
    position: relative;
}

.logo-kt{
   display: inline-block;
   width: auto;
   height: 64px;    
}

.logo-mobile{
    display: block;
    width: auto;
    height: 64px; 
}

.logo-desktop{
    display: none;
}

.navigation-menu{
    margin-top: 24px;
}

input[type="checkbox"]:checked ~ nav {
    display: block;
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    background-color: var(--cor-secundaria);
}

nav{
  display: none;  
}

.list-links{
    list-style: none;
}

.list-links li{
    margin: 16px 0;
    text-align: center;
}

.list-links li a{
    color: var(--cor-primaria);
    text-decoration: none;
    align-items: center;
    font-size: 18px;
    font-weight: 400;
    }


@media screen and (min-width: 768px){
   .navigation-menu{
    margin-top: 0;
    width: auto;
    
   } 

  .navigation-menu label{
    display: none;
   }

    .navigation-menu nav{
     display: block;
   }

    .navigation-menu ul{
    display: flex;
    gap: 1rem;
    flex-wrap: wrap;
    justify-content: center;
    padding: 0;
   } 
} 

@media screen and (min-width: 1024px) {
    .header{
        padding: 16px 120px;
    } 

    .logo-desktop {
        display: block;
        width: auto;
        height: 64px;

    }
    .logo-mobile {
        display: none;
    }
    .navigation-menu a:hover{
        color: var(--cor-hover)
    }
}

@media screen and (min-width: 1920px){
    .header{
        padding: 16px 160px;
    }
}