.header{
    padding: 2% 0% 0% 25%;
    background-color: var(--cor-secundaria);
}

.logo{
   height: 0px;   
   width: auto;
}

.nav{
    display: flex;
    align-items: center;
}

.nav-links{
    color: var(--cor-primaria);
    text-decoration: none;
    align-items: center;
    font-size: 1.125rem;
    font-family: var(--fonte-primaria);
    font-weight: 400;
    padding: 25px 5px 5px 50px;
}