.header{
    background-color: var(--cor-secundaria);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 38px 48px;
}

.logo-kt{
   display: inline-block;
   width: auto;
   height: 64px;    
}

.navigation-menu{
    margin-top: 24px;
}

nav{
  display: none;  
  align-items: flex-start;
}

.nav-links{
    color: var(--cor-primaria);
    text-decoration: none;
    align-items: center;
    font-size: 1.125rem;
    font-family: var(--fonte-primaria);
    font-weight: 400;
    padding: 25px 5px 5px 50px;
}