.hero-imagem{
    width: 100%;
}

.hero{
    padding: 5% 15%;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 2rem;
    justify-content: space-between;
    margin-top: 24px;
        
}

.hero-titulo{
    font-weight: 400;
    font-size: 2rem;
    display: flex;
    flex-direction: column;
}
.hero-apresentacao{
    /* width: 50%; */
    display: flex;
    flex-direction: column;
    text-align: center;
    gap: 40px;
    font-size: 1rem;
}

.destaque-titulo{
    color: var(--cor-terciaria);
}

.conteudo-texto{
    font-size: 1.5rem;
    font-weight: 400;
}

.botao-hero{
    background-color: var(--cor-secundaria);
    border: 1px solid;
    border-radius: 50px;
    display: inline-block;
    text-align: center;
    text-decoration: none;
    width: 70%;
    font-size: 1rem;
    font-weight: 600;
    padding: 20px 50px;
    color: var(--cor-primaria);   
}

.botao-hero:hover{
    color:var(--cor-hover);
}

@media screen and (min-width: 768px){
    .hero-imagem{
    width: 100%;
    display: flex;
    flex-direction:  row;
}

  .hero{
    padding: 5% 15%;
    display: flex;
    flex-direction: row;
    align-items: center;
    text-align: center;
    justify-content: space-between;
    margin-top: 24px;
        
}

.hero-titulo{
    font-weight: 400;
    font-size: 2rem;
    display: flex;
    flex-direction: column;
}

.hero-apresentacao{
    /* width: 50%; */
    display: flex;
    flex-direction: column;
    text-align: center;
    gap: 40px;
    font-size: 1.2rem;
}
}

@media screen and (min-width: 1024px){
  .hero{
    display: flex;
    flex-direction: column;
    gap: 2rem;
}
 .hero-top {
    display: flex;
    align-items: center;
    gap: 1.5rem;
}

.hero-titulo{
    font-size: 2rem;
    text-align: center;
}

  .hero-bottom {
    max-width: 600px;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    align-items: flex-start; /* ESSENCIAL */
  }

   /* .hero-apresentacao {
    display: flex;
    text-align: center;
  } */

    .hero-imagem{
    max-width: 320px;
    height: auto;
}
}