@import url(global.css);
@import url(header.css);
@import url(hero.css);


/* .intro{
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 40px;
}
.rodape{
    padding: 12px;
    background-color: var(--cor-secundaria);
    color: var(--cor-primaria);
    text-align: center;
    font-size: 0.93rem;
    font-family: var(--fonte-primaria);
    font-weight: 400;
}

@media (max-width: 1200px){
    .cabecalho{
        padding: 2%;
    }

    .cabecalho-menu{
        justify-content: center;
    }
    

    .apresentacao {
        flex-direction: column-reverse;
        padding: 5%;
    }

    .apresentacao-principal{
        width: auto;
    }

}  */
